@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s;
}
  
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.nav-link {
    color: #000;
    text-decoration: none;
    padding: 16px;
    transition: all 0.2s ease-in-out;
    margin: 4px;
    font-family: Montserrat, sans-serif;
}
  
.nav-link--active {
    color: #f00;
    background-color: rgba(255, 0, 0, 0.1);
}
  
.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding: 16px;
    transition: all 0.2s ease-in-out;
    transform: translateY(100%);
}
  
.nav-link--active {
    color: #f00;
    background-color: rgba(255, 0, 0, 0.1);
    transform: translateY(0);
}
  
.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}

.nav-container button{
    margin: 0 auto;
    display: flex;
    padding: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #fff;
    transition: 0.5s;
}

.nav-container button img{
    width: 8%;
    height: 100%;
    cursor: pointer;
}


/* Login */
.div-centrado {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 840px;
    gap: 1rem;
}

.div-centrado button {
    width: 50%;
    height: 98%;
    padding: 10%;
    transition: 0.5s;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: white;
    box-shadow: 0 0 10px #000;
}

.div-centrado button img {
    width: auto;
    height: 10rem;
}

.boton-grande:hover {
    width: 90%;
    height: 98%;
}
  
@media (max-width: 768px) {
    .div-centrado {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }


  
    .div-centrado button {
     animation: open-menu 0.5s ease-in-out;
      width: 100%;
      height: 70;
    }
    .boton-grande:hover {
        width: 100%;
    }
}
@media (min-width: 600px) {
    .nav-container button{
        display: none;
    }
}

@media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .nav-list {
        display: flex;
        width: 100%;
        height: auto;

    }
    .nav-list li {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: 0.5s;
    }
}

  .nav-list.open {
    animation: open-menu 0.5s ease-in-out;
  }


  @keyframes open-menu {
    0% {
        transform: translateY(-100px);
    }
  
    100% {
        transform: translateY(0);
    }
}

.home {
    margin: 0;
    padding: 0;
}

.home img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    filter: brightness(0.5);
}

.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    animation: titulo-animacion 2s ease-in-out;
}

@keyframes titulo-animacion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contedino {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    padding: 0 700px;
    font-family: Montserrat, sans-serif;
}

.contedino h1{
    text-align: center;
}

.contedino a{
    text-align: center;
}

.contedino ul li{
    margin: 10px 0;
}

@media (min-width: 600px) {
    .contedino {
        padding: 0 10%;
    }
}

@media (max-width: 600px) {
    .contedino {
        padding: 0 10%;
    }
}

footer{
    width: 100%;
    display: flex;
    gap: 20px;
    font-family: Montserrat, sans-serif;
    background-color: #000;
    color: white;
    margin: 2px;
    padding: 20px 0;
}

footer div{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.redes{
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: row-reverse;
}

.redes img{
    width: 30%;
}

.redes div{
    gap: 20px;
}

.botonPregunta {
    background-color: #ffffff;
    border: 1px solid #ccc;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .botonPregunta li {
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .botonPregunta li button {
    background-color: #ffffff;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
  }
  
  .botonPregunta li button:hover {
    background-color: #000000;
    color: #ffffff;
  }

  .preguntas {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
  }
  @media (max-width: 560px) {
    .botonPregunta {
        flex-direction: column;
    }
    .botonPregunta li button:hover {
        width: 50%;
    }
    .botonPregunta li{
        width: 90%;
    }
    .botonPregunta li button:hover {
        background-color: white;
        color: none;
    }
}

.contedino img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(0.5);
    padding: 20px 0;
    border-radius: 3px;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Montserrat, sans-serif;
    margin: 20px 0;

}

.tabla thead {
    background-color: #ccc;
    text-align: center;
}

.tabla table {
    width: 100%;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    grid-gap: 10px;
}

.tabla th,
.tabla td {
    padding: 10px;
    text-align: center;
}


  
  .modal-content {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 200px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .modal-header button {
    cursor: pointer;
  }
  
  .modal-body {
    text-align: center;
  }
  
  .modal-body p {
    font-size: 16px;
  }
  
  .modal-body button {
    margin-top: 10px;
    cursor: pointer;
  }


  .imgUser{
    width: 55px;
    padding-right: 20px;
  }

  .imgUser img{
    width: 100%;
    border-radius: 50%;
  }
  .noCamper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .noCamper h1 {
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
    color: #f00;
    font-family: Montserrat, sans-serif;
  }
  
  .noCamper img {
    width: 30%;
    margin-top: 20px;
    animation: bounce 4s infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .perfil{
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    
  .perfil img{
    width: 50%;
    border-radius: 50%;
  }

  .centerPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
    justify-content: center;
  }

  
  .modal-content {
    width: 500px;
    height: 340px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: Montserrat, sans-serif;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .modal-header h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .modal-header button {
    cursor: pointer;
    background: none;
    border: none;
    color: #ccc;
    font-size: 1rem;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 80%;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-body p {
    font-size: 1rem;
    margin: 0;
    margin: 70px 0;
  }
  
  .modal-body button {
    cursor: pointer;
    background-color: #969696;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
  }
  .modal-body button a{
    color: white;
    text-decoration: none;
  }
  
  .modal-body button:hover {
    background-color: #4d4040;
  }

  .botonCerrar{
    cursor: pointer;
  }

  .botonCerrar a{
    text-decoration: none;
    color: black;
  }
  
  .fondoLo{
    width: 100%;
  }

  .fondoLo img{
    width: 100%;
    height: 850px;
  }

  .reservaB{
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  .reservaB:hover{
    background: #ccc;
  }
  

/* Estilos generales del modal */


/* Estilos para el título del modal */
.modal h2 {
  margin-top: 0;
}

/* Estilos para los campos de fecha y botones */
.modal label {
  display: block;
  margin-bottom: 10px;
}

.modal input[type="date"] {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal button {
  padding: 10px 20px;
  background: #969696;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

/* Estilos para el botón de Cerrar */
.modal button.close-button {
  background-color: #ccc;
  color: #f00;
  margin-left: 10px;
}

.Reservar {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Estilo para la lista de reservas */
.Reservar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

/* Estilo para cada elemento de la lista */
.Reservar li {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  width: 50%;
  justify-content: center;
  text-align: center;
}

/* Estilo para la información del libro */
.Reservar .info-libro {
  background-color: #f0f0f0;
  padding: 10px;
  justify-content: center;
}

/* Estilo para las imágenes de los libros */
.Reservar img {
  max-width: 100%;
  height: auto;
}

.reservas-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.reserva {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  /* Otros estilos para cada reserva */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .reservas-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 1120px) {
  .Reservar ul {
    flex-direction: column;
  }
  .Reservar li {
    width: 100%;
  }
}

.delete-button {
  background-color: #ccc; /* Color de fondo del botón */
  color: black; /* Color del texto */
  border: none; /* Elimina el borde del botón */
  padding: 8px 12px; /* Espaciado interno */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

/* Estilos para el botón de eliminar al pasar el mouse */
.delete-button:hover {
  background-color: #969696; /* Cambia el color de fondo al pasar el mouse */
}

.ReactModal__Overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que el modal esté en la parte superior */
}

/* Ajusta el estilo del contenido del modal */
.ReactModal__Content {
  position: relative;
  background-color: #fff; /* Fondo blanco */
  border-radius: 5px;
  max-width: 400px; /* Ancho máximo del modal */
  padding: 20px;
  text-align: center;
  margin: 200px auto 0; 
  height: 200px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
}

/* Estilos para el botón de eliminar en el modal */
.delete-button-modal {
  background-color: #ff0000; /* Color de fondo rojo */
  color: #fff; /* Color de texto blanco */
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button-modal:hover {
  background-color: #cc0000; /* Color de fondo rojo más oscuro al pasar el ratón */
}

/* Estilos para el botón de cancelar en el modal */
.cancel-button-modal {
  background-color: #333; /* Color de fondo gris oscuro */
  color: #fff; /* Color de texto blanco */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
}

.cancel-button-modal:hover {
  background-color: #555; /* Color de fondo gris más oscuro al pasar el ratón */
}

.modal-reserva {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 40%;
}

.modal-reserva h2 {
  margin-top: 0;
}

.modal-reserva label {
  font-weight: bold;
}

.modal-reserva input[type="date"] {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
}

.modal-reserva button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.modal-reserva button:last-child {
  margin-right: 0;
  background-color: #ff3333;
}

.modal-reserva button:hover {
  background-color: #555;
}

.modal-reserva button:last-child:hover {
  background-color: #ff0000;
}

/* Estilos para la modal de inicio de sesión */
.modalLogin {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalLogin .modal-content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 40%;
}

/* Botón para cerrar la modal */
.modalLogin .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para los campos de entrada y el botón en la modal */
.modalLogin .form-group {
  margin-bottom: 20px;
}

.modalLogin .form-group label {
  display: block;
  margin-bottom: 5px;
}

.modalLogin .form-group input[type="text"],
.modalLogin .form-group input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modalLogin .modal-content button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.modalLogin .modal-content button:hover {
  background-color: #ccc;
}

.adminBotones{
  display: flex;
  width: 100%;
}

.adminBotones a{
  width: 100%;
}

.adminBotones a button{
  width: 90%;
  margin: 2rem;
  padding: 70px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.card img{
  width: 80%;
  margin: 10px;
}

.adminBotones button:hover{
  background: #b8b8b8;
}

@media (max-width: 920px) {
  .adminBotones {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .adminBotones button{
    width: 60%;
    margin: 1rem;
  }
}

/* Estilo para el contenedor principal */
.containerPrestamos {
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  font-family: Montserrat, sans-serif;
}

/* Estilo para los encabezados */
.containerPrestamos h1, h2 {
  text-align: center;
}

/* Estilo para los campos de entrada y etiquetas */
.input-group {
  margin-bottom: 15px;
}

.containerPrestamos label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.containerPrestamos input[type="date"] {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.containerPrestamos input[type="text"], select {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilo para el botón */
.containerPrestamos button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.containerPrestamos button:hover {
  background-color: #0056b3;
}

/* Estilo para la lista de préstamos */
.containerPrestamos ul {
  list-style-type: none;
  padding: 0;
}

.containerPrestamos li {
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerPrestamos li button {
  background-color: #dc3545;
  width: 20%;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.containerPrestamos li button:hover {
  background-color: #bd2130;
}

/* Media queries para hacer que el diseño sea responsive */

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  input[type="text"], select {
    width: 100%;
  }
}


